{% extends 'bdata/base.html' %}
{% load static %}

{% block style-head %}
<style>
    .header-blue {
        padding: 0px
    }
</style>
{% endblock style-head %}

{% block sections %}
<div class="team-boxed" id="team">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">The Semicolon Squad</h2>
            <p class="text-center">These are the people behind the service.</p>
        </div>
        <div class="row people align-self-center justify-content-center">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src={% static '/img/Aditya.jpeg' %}>
                    <h3 class="name">Aditya Lawate</h3>
                    <p class="title">Student</p>
                    <p class="description">Suffering from Codicide</p>
                    <div class="social">
                        <!-- <a href="#"><i class="fa fa-facebook-official" title="facebook"></i></a> -->
                        <a href="mailto:ab61399@gmail.com" title="Mail"><i class="fa fa-envelope"></i></a><a href="#"
                            title="twitter"><i class="fa fa-twitter"></i></a>
                        <!-- <a href="https://www.instagram.com/ab_ivan_/" title="Instagram"><i class="fa fa-instagram"></i></a> -->
                        <a href="https://www.linkedin.com/in/aditya-lawate/" title="Instagram"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/Aditdev" title="Github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src={% static '/img/Sahil.jpeg' %}>
                    <h3 class="name">Sahil Kulabkar</h3>
                    <p class="title">Student</p>
                    <p class="description">Passionate about coding</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official" title="facebook"></i></a><a
                            href="mailto:kulabkarsahil07@gmail.com" title="Mail"><i class="fa fa-envelope"></i></a><a
                            href="#" title="twitter"><i class="fa fa-twitter"></i></a><a
                            href="https://www.instagram.com/sahil_kulabkar_07" title="Instagram"><i
                                class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src={% static '/img/Shivaraj.jpeg' %}>
                    <h3 class="name">Shivaraj B.</h3>
                    <p class="title">Student</p>
                    <p class="description">Passionate Student</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official" title="facebook"></i></a><a
                            href="mailto:ab61399@gmail.com" title="Mail"><i class="fa fa-envelope"></i></a><a href="#"
                            title="twitter"><i class="fa fa-twitter"></i></a><a
                            href="https://www.instagram.com/shivraj.v.b" title="Instagram"><i
                                class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src={% static '/img/Soham.jpeg' %}>
                    <h3 class="name">Soham Patil</h3>
                    <p class="title">Student</p>
                    <p class="description">This is a Short description</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official" title="facebook"></i></a><a
                            href="mailto:ab61399@gmail.com" title="Mail"><i class="fa fa-envelope"></i></a><a href="#"
                            title="twitter"><i class="fa fa-twitter"></i></a><a
                            href="https://www.instagram.com/ab_ivan_/" title="Instagram"><i
                                class="fa fa-instagram"></i></a></div>
                </div>
            </div>
</div>
</div>
</div>
{% endblock sections %}